<header class="header">
    <div class="header__container">
        <div class="header__info">
            <img src="https://f5-zpcloud.zdn.vn/7877981563465563978/479ab98b57549d0ac445.jpg" alt="" class="header__img">
            <span>Hau</span>
        </div>

        <a href="" class="header__logo">
            <i class='bx bx-leaf nav__icon'></i>
            <span class="nav__logo-name">Furama Resort</span>
        </a>
        <div class="header__search">
            <input type="text" class="header__input" placeholder="Search">
            <i class='bx bx-search header__icon'></i>
        </div>

        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

    </div>
</header>