<div class="name-card">
  <div class="name-card__content-left">
    <img src="https://scontent.fdad1-2.fna.fbcdn.net/v/t1.6435-9/51231691_2424164147867048_3949964792294277120_n.png?_nc_cat=1&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=3aOFb5BH6ykAX_AFuOc&_nc_ht=scontent.fdad1-2.fna&oh=00_AT9R0673NSHrObKkMpe7vBL7H_74thKtr7updA5-fiuOHA&oe=6215C1A6" alt="" class="name-card__avatar">
  </div>
  <div class="name-card__content-right">
    <h3 class="name-card__heading">{{cardName}}</h3>
    <p class="name-card__text">{{email}}</p>
    <p class="name-card__text">{{phone}}</p>
  </div>
</div>
