<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    Language: <a href="?lang=en">English</a> |  <a href="?lang=vi">Vietnamese</a>
</p>
<a th:href="@{/customer/create}" th:text="#{customer.title}">Create new customer</a>
<h1 th:text="#{customer.heading}">Customers</h1>
<form action="#" th:action="@{/customer}">
    <input type="text" name="key_search" placeholder="last name">
    <button type="submit">Tìm kiếm</button>
</form>
<table border="1">
    <tr>
        <th th:text="#{customer.firstName}">First name</th>
        <th th:text="#{customer.lastName}">Last name</th>
        <th th:text="#{customer.province}">Province</th>
        <th th:text="#{customer.edit}">Edit</th>
        <th th:text="#{customer.delete}">Delete</th>
    </tr>
    <tr th:each="customer : ${listCustomer}">
        <td th:text="${customer.getFirstName()}"></td>
        <td th:text="${customer.getLastName()}"></td>
        <td th:text="${customer.getProvince().name}"></td>
        <td>
            <a th:href="@{/customer/edit/__${customer.id}__}" th:text="#{customer.edit}">Edit</a>
        </td>
        <td>
            <a th:href="@{/customer/delete/{id}(id=${customer.getId()})}" th:text="#{customer.delete}">Delete</a>
        </td>
    </tr>
</table>
<a th:href="@{'/customer/'(page=${listCustomer.number - 1})}" th:if="${listCustomer.hasPrevious()}">Previous</a>
<span th:text="${listCustomer.number + '/' + listCustomer.totalPages}"></span>
<a th:href="@{'/customer/'(page=${listCustomer.number + 1})}" th:if="${listCustomer.hasNext()}">Next</a>
</body>
</html>