<!--<h1>Student list</h1>-->

<!--<div class="row">-->
<!--  <div class="col col-6">-->
<!--    <table class="table" border="1">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>#</th>-->
<!--        <th>Name</th>-->
<!--        <th>Gender</th>-->
<!--        <th>Point</th>-->
<!--        <th>Result</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let item of studentList; let i = index" (click)="showDetail(item)">-->
<!--        <td>{{i+1}}</td>-->
<!--        <td [ngClass]="item.gender == 2 ? 'txt-color, txt-font-weight' : '' " >{{item.name}}</td>-->
<!--        <td [ngSwitch]="item.gender">-->
<!--          <span *ngSwitchCase="0">Female</span>-->
<!--          <span *ngSwitchCase="1">Male</span>-->
<!--          <span *ngSwitchCase="2">Unknown</span>-->
<!--        </td>-->
<!--        <td [ngStyle]="{-->
<!--        'color': item.point == 0 ? 'red' : '',-->
<!--        'font-weight': item.point == 100 ? 'bold' : ''-->
<!--      }">{{item.point}}</td>-->
<!--        <td>-->
<!--          <span *ngIf="item.point >= 75; else elseBlock">Pass</span>-->
<!--          <ng-template #elseBlock>-->
<!--            <span>Fail</span>-->
<!--          </ng-template>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--  <div class="col col-6">-->
<!--    <app-student-detail [studentDetail]='student'></app-student-detail>-->
<!--    <app-student-create (onCreate)="getNewStudent($event)"></app-student-create>-->
<!--  </div>-->
<!--</div>-->


<!--<p>student-list works!</p>-->
<!--<div *ngIf="isDisplay">-->
<!--  <app-lifecycle-hook></app-lifecycle-hook>-->
<!--</div>-->

<!--<button type="button" (click)="onToggle()">Toogle</button>-->

<!--<app-angular-pies></app-angular-pies>-->

<!--template form-->
<!--<div class="row">-->
<!--  <div class="col col-6">-->
<!--    <app-template-driven-form></app-template-driven-form>-->
<!--  </div>-->
<!--  <div class="col col-6">-->
<!--    <app-reactive-form></app-reactive-form>-->
<!--  </div>-->
<!--</div>-->


<!--Router-->
<div class="container">
  <h1>Đây là trang chủ</h1>
  <a class="btn btn-primary mr-2" routerLink="/home">Home</a>
  <a class="btn bg-success mr-2" routerLink="/create">Create</a>
  <a class="btn bg-success" routerLink="/detail/1">Detail of index 1</a>
  <router-outlet></router-outlet>
</div>
